global:
  scrape_interval: 1s
  evaluation_interval: 1s
  #scrape_timeout is set to the global default (10s).

scrape_configs:
  - job_name: 'spring batch for db to csv'
    metrics_path: '/actuator/prometheus'
    scrape_interval: 1s
    static_configs:
      - targets: [ '<ip-address>:8080' ]
